services:
  db:
    image: postgres:16
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-fastapi-jinja2-postgres-webapp}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
